{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.1.4",
                "modules": "commonjs"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true,
                "corejs": 3
            }
        ],
        "css-modules-transform"
    ]
}
