<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="server">
                    <match url="/*" />
                    <action type="Rewrite" url="dist/server.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode enableXFF="true" />
    </system.webServer>
</configuration>